/* myStyle.css */
a {
	color: #525252;
}
a:hover{
	color: #00a9e7;
}
div {
	max-width:720px; 
	padding:10px;
	padding-top:5px;
	padding-bottom:5px
}
body {
	margin: 0;
	margin-top: 5px;
	font-family: josefinSans;
	background-color: white;
	color: #525252;
	overflow-x: hidden;
}
td {
	background-color: white;
}
h2 {
	padding-left: 45px;
}
#footy {
	position: absolute;
	bottom: 0;
	width: 150%;
	text-align: center;
	margin-left: -25%;
}
#footpic {
	width: 100%;
	height: 250px;
	background-image: url(assets/footer.jpg);
	background-size: 100% 100%;
}
#foot {
	background-color: #00a9e7;
	text-align: center;
	vertical-align: bottom;
	font-size: 90%;
	opacity: .7;
	color: white;
}
#logo {
	padding: 25px;
	padding-top: 5px;
	width: 372px;
	height: 158px;
}
#selfie {
	width: 300px;
	height: 300px;
}
#spacebar {
	background-size: 100% 100%;
	padding-left: 0px;
	padding-right: 0px;
	width: 110%;
	margin-left: -5px;
	height: 33px;
	background-image: url(assets/bar.jpg);
}
#navitem {
	padding-left: 30px;
}
#entry {
	text-indent: 40px;
	max-width: 660px;
	padding-left: 45px;
	padding-bottom: 15px;
	/*background-color: #00a9e7;*/
}

@font-face {
	font-family: josefinSans;
	src: url('jose/JosefinSans-Regular.eot');
	src: url('jose/JosefinSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('jose/JosefinSans-Regular.woff2') format('woff2'),
		url('jose/JosefinSans-Regular.woff') format('woff'),
		url('jose/JosefinSans-Regular.ttf') format('truetype'),
		url('jose/JosefinSans-Regular.svg#JosefinSans') format('svg');
}
html {
	overflow-x: hidden;
}
